* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* NAVBAR SECTION HERE */
.nav-bg {
    background-image: linear-gradient(to right, rgb(250, 125, 237), rgb(152, 61, 255));
}

.logo {
    height: 38px;
}

/* DISPLAY SECTION HERE  */
.displayOne {
    background-image: linear-gradient(to bottom, rgb(38, 0, 81), rgb(223, 0, 201));
    height: 92vh;
    width: 100%;
}

.displayTwo {
    background-image: linear-gradient(to bottom, rgb(38, 0, 81), rgb(223, 0, 201));
    height: 92vh;
    width: 100%;
}

.displayThree {
    background-image: linear-gradient(to bottom, rgb(38, 0, 81), rgb(223, 0, 201));
    height: 92vh;
    width: 100%;
}

.display-img {
    height: 92vh;
}

.dis-text {
    color: rgb(223, 0, 201);
}

.icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 0px 5px;
}

.btn {
    padding: 5px 30px;
    background-color: rgb(223, 0, 201);
    color: white;
}

.btn:hover {
    background-color: white;
    color: rgb(223, 0, 201);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.dis-h4 {
    color: rgb(49, 0, 105);
}

/* DISPLAY SECTION CLOSE */

/* SKILL SECTION HERE  */

.skill {
    width: 100%;
    height: 100vh;
    padding: 100px 0px;
}

.contant {
    border-bottom: 2px solid rebeccapurple;
}

.card {
    height: 300px;
    width: 250px;
    border: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    background-image: linear-gradient(to bottom, rgb(38, 0, 81), rgb(223, 0, 201));
    color: #ffff;

}

.card:hover {
    background-image: linear-gradient(to top, rgb(38, 0, 81), rgb(223, 0, 201));
}

.contant-card {
    padding-top: 50px;
}

.bg-html {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 119, 0);
    border-radius: 200px;
    margin: 10px auto;
}

.bg-css {
    height: 150px;
    width: 150px;
    background-color: rgb(0, 81, 255);
    border-radius: 200px;
    margin: 10px auto;
}

.bg-bootstrap {
    height: 150px;
    width: 150px;
    background-color: rgb(99, 0, 211);
    border-radius: 200px;
    margin: 10px auto;
}

.bg-js {
    height: 150px;
    width: 150px;
    background-color: rgb(231, 170, 4);
    border-radius: 200px;
    margin: 10px auto;
}

.bg-netlify {
    height: 150px;
    width: 150px;
    background-color: rgb(0, 255, 221);
    border-radius: 200px;
    margin: 10px auto;
}

.skill-img {
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

/* SKILL SECTION CLOSE */

/* SERVICE SECTION HERE */
.service {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgb(38, 0, 81), rgb(223, 0, 201));
    padding: 80px 0px;
}

.service-head {
    border-bottom: 2px solid white;
}

.icon-service {
    height: 100px;
    width: 100px;
    color: rgb(223, 0, 201);
    font-size: 100px;
}

.card-service {
    height: 370px;
    width: 400px;
    background-color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

.card-service:hover {
    height: 370px;
    width: 400px;
    background-color: rgb(28, 0, 67);
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 10px rgb(255, 0, 230);
    border-radius: 10px;
    color: white;
}

/* SERVICE SECTION CLOSE */
.from-section {
    height: 100vh;
    width: 100%;
    padding-top: 150px;
}

.from {
    margin: auto;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    height: 400px;
    width: 60%;
    background-image: linear-gradient(to bottom, rgb(38, 0, 81), rgb(223, 0, 201));
    color: white;

}

.input-box {
    padding: 5px 0px;
    text-align: left;

}

.text-box {
    padding: 3px 20px;
    border-radius: 20px;
    border: none;
}

.btn-reg {
    background-image: linear-gradient(to right, rgb(38, 0, 81), rgb(223, 0, 201));
    padding: 4px 80px;
    border-radius: 20px;
    border: none;
    color: white;
    box-shadow: 0px 0px 10px black;
}

.btn-reg:hover {
    background-image: linear-gradient(to left, rgb(38, 0, 81), rgb(223, 0, 201));
    border-radius: 20px;
    border: none;
    color: white;
}

.from-text {
    border-bottom: 2px solid rgb(255, 255, 255);
}

footer {
    background-color: rgb(38, 0, 81);
    padding: 20px 0px;
}

.one {
    width: 40%;
}

.two {
    width: 30%;
}

.three {
    width: 30%;
}

.manubar li {
    list-style: none;
    text-align: left;
}